!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Memorii for iPhone and iPad
    %link{:rel => "stylesheet", :href => "style.css?re", :type => "text/css"}
    %link{:rel => "shortcut icon", :href => "http://www.studioamanga.com/img/favicon.ico"}
    %meta{:name => "description", :content => "Study Chinese hanzi and Japanese kanji, anytime and anywhere"}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=352411168"}
  %body
    %nav.general
      %ul
        %li
          %a{:href => "https://www.studioamanga.com/"}
            %img{:alt => "StdAMG", :src => "img/icon-amg.png"}
            %span Studio AMANgA

    %header.top.cropped-bottom
      %div.title
        %img.icon{:alt => "Icon", :src => "img/icon-72-2x.png"}
        %h1 Memorii
      %div
        %img.showcase{:alt => "Screens", :src => "img/screens.png", :style => "margin-bottom: 10px;"}

    %section.main
      %div.tagline
        Study Chinese hanzi and Japanese kanji, anytime and anywhere, synced on all your devices with iCloud.

      %p.download
        %a{:href => "https://itunes.apple.com/app/memorii/id352411168?mt=8"}
          %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/

    %footer
      %a{:href => "https://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Memorii” for iPhone, iPad, and Mac
        %br
        %a{:href => "releasenotes"}> Release Notes
        ,
        %a{:href => "privacy-policy"} Privacy Policy
        %br
        Made by Studio AMANgA 2010–2021
